
*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header { 
    background-color: #003366;
    color: #fff;
    text-align: center;

}

header h1{
    margin:0;

}

nav {
    background-color: black;
    padding: 5px;
    margin-top: 20px;
}

nav ul{

    display: flex;
    justify-content:space-around;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #d6d86a;
    padding: 5px;
}

main {
    max-width: 100%;
    margin: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 10px;

}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 1200px;
    border-radius: 5px;
}

.about-me h2 {
    background-color: #002f5f;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: -10px -10px 20px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-content img {
    border-radius: 20%;
    max-width: 250px;
}

.location {
    background: #fff;
    padding: 1.5rem;
    border-radius: 5px;

}

.location h2{
    color: #003366;
    text-align: center;
    margin-bottom: 2rem;
    padding: 10px;
    border-bottom: 1.5px solid #a9afb5;

    
}

.location-content {
    display:flex;
    align-items: center;
    gap: 10px;
}

.location-content img {
    border-radius: 5px;
    max-width: 200px;
}

.web-resources {
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
}

.web-resources h2 {
    text-align: center;
    background-color: #002f5f;
    color: white;
    margin: -20px -20px 20px;
    padding: 5px;

}

.web-resources ul {
    gap: 1.5rem;
    list-style: disc;
    margin-top: 10px;

}

.web-resources ul li {
    margin-bottom: 60px;
}

.web-resources ul li a {
    color: #002f5f;
    font-weight: bold;
}

.web-resources ul li a:hover{  
    color: #d86ac0;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: #fff;
}

footer p {
    margin: 0.5rem 0;
}

footer span {
    color: #b7e2e7;
}
